/frontend/.vscode
/.idea
.DS_Store
/src/data/yelp_dataset
.venv/
venv*/
__pycache__/
.pytest_cache/
*.egg-info/
*.pyc
.vscode/
/nn/.idea
src/model/AllSetTransformer/data/
src/model/AllSetTransformer/hyperparameter_tunning/
src/model/AllSetTransformer/pyg_data/
/hyperparameter_tunning
