/frontend/.vscode
/.idea
.DS_Store
/.venv
/nn/data/yelp_dataset
/nn/data/__pycache__
/nn/data/.pytest_cache
/nn/utils/__pycache__
/nn/utils/.pytest_cache
/nn/models/__pycache__
/nn/models/.pytest_cache
/nn/__pycache__
/nn/.venv
__pycache__
/nn/HGCNN.egg-info
